# TODO: Add your database URL
DATABASE_URL="postgresql://user:password@host:port/database"
# TODO: Add your JWT secret key
JWT_SECRET_KEY="your-secret-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
